 
.box{ 
     margin-bottom: 1rem;
}
body{
    background-color: gray;
}
   



/* .blueviolet .box{
    background-color: blueviolet;
}

.orange .box{
    background-color: orange;
}

.red .box{
    background-color: red;
}

.pink .box{
    background-color: pink;
} */

